<header>
    <h1>cadastre-se agora</h1>
</header>
<section>
    <form>
        <div>
            infome o seu nome completo:
            <input type="text" name="nomeUser" id="">
            
        </div>
        <div>
            infome o seu nome de usuario:
            <input type="text" name="cadaDeUser" >
        </div>
        <div>
            crie a sua senha:
            <input type="password" name="test" id=""><br/>
            comfirme a sua senha:
            <input type="password" name="test" id="">
        </div>
        <div>
            informe o que você é:<br/>
            <input type="checkbox" name="" id="">professor<br/>
            <input type="checkbox" name="" id="">aluno
        </div>
        <div><input type="button" value="cadastra" (click)="cadastrar()"></div>
    </form>
</section><!--não esta pronto e nem funcinondo ainda -->

